body {
    background-color: #f3f4f6; /* Gris claro moderno */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}


/* Estilos para los elementos de la lista de productos */
.product-list {
    padding: 20px; /* Espacio alrededor de la lista de productos */
}

.product-item {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: auto;
    margin-bottom: 10px;    
    border-radius: 8px;
    height: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(250, 248, 248, 0.2);
}



header {
    background-color: #070774; /* Color de fondo del encabezado */
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    width: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff; /* Azul brillante */
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff7e67; /* Coral claro */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #3d2352; /* Color de título */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #404040; /* Gris oscuro */
    color: #f1f1f1; /* Casi blanco */
}

/* ... (otros estilos) ... */

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h3 {
    margin: 10px 0;
}

.price {
    color: #5d3b8c; /* Color resaltante para el precio */
    font-weight: bold;
}

/* ... (otros estilos) ... */
.delete-btn {
    background-color: red;
    color: white;
    padding: auto;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}
/* En tu archivo CSS, por ejemplo, static/styles.css */

.btn-success {
    background-color: green;
    color: white;
    padding: auto;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-btn:hover {
    background-color: darkgreen;
}
