{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/cartstyle.css' %}">
</head>
<body>

  <div class="cart-container">
      <h2 class="cart-title">Your Cart</h2>
      {% if order %}
          <div class="cart-items">
              {% for product in order.products.all %}
                  <div class="cart-item">
                      <h3 class="product-name">{{ product.name }}</h3>
                      <p class="product-price">Price: <span class="price">$ {{ product.price }}</span></p>
                  </div>
              {% empty %}
                  <p class="empty-cart">Your cart is empty.</p>
              {% endfor %}
          </div>
          <div class="cart-total">
              <p class="total-label">Total:</p>
              <p class="total-price">$ {{ order.total_price }}</p>
          </div>
      {% else %}
          <p class="empty-cart">Log in to view your cart.</p>
      {% endif %}
  </div>

</body>
</html>
